<div>
    {% for i in rooms %}
    <div>
        {% if request.user == i.host %}
        
        <a href="{% url 'update-room' i.id %}">Edit</a>
        <a href="{% url 'delete-room' i.id %}">Delete</a>
        {% endif %}
        <!-- <p>User: {{ request.user }}</p>
        <p>Room Host: {{ i.host }}</p> -->

        <a href="{% url ' user-profile' i.host.id %}">
            @{{i.host.username}}
        </a>
        <h5>{{i.id}} -- <a href="{% url 'room' i.id %}">{{i.name}}</a> </h5>
        <small>
            {{i.topic.name}}
        </small>
        <hr>
    </div>
    {% endfor %}
</div>