<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
</head>
<body>
    {% block content %}
    <h1>{{room.name}}</h1>
    <p>{{room.description}}</p>

    <div class="comment-wrapper">
        <h3>Conversation</h3>
        <hr>
        {% for message in room_messages %}
            <div>
                <small>
                    @{{message.user}}  {{message.created|timesince}} ago
                </small>
                <p>
                    {{message.body}}
                </p>
            </div>
        {% endfor %}

    </div>



    {% endblock content %}
</body>
</html>